---
import { Icon } from 'astro-icon';
import { BLOG } from '~/config.mjs';
import { getBlogPermalink, getHomePermalink, getPermalink } from '~/utils/permalinks';
---

<footer class="border-t border-gray-200 dark:border-slate-800">
	<div class="max-w-6xl mx-auto px-4 sm:px-6">
		<div class="grid grid-cols-2 gap-4 gap-y-8 sm:gap-8 py-8 md:py-12">
			<div>
				<div class="mb-2">
					<a class="inline-block font-bold text-xl" href={getHomePermalink()}>Neurology</a>
				</div>
				<div class="text-sm text-gray-600">
					<a
						class="text-gray-600 hover:text-gray-700 dark:text-gray-400 hover:underline transition duration-150 ease-in-out"
						href={`${getPermalink()}imprint`}>Imprint</a
					> ·
					<a
						class="text-gray-600 hover:text-gray-700 dark:text-gray-400 hover:underline transition duration-150 ease-in-out"
						href={`${getPermalink()}privacy`}>Privacy Policy</a
					>
				</div>
			</div>
			<div class="text-right">
				<div class="text-gray-800 dark:text-gray-300 font-medium mb-2">The Project</div>
				<ul class="text-sm">
					<li class="mb-2">
						<a
							class="text-gray-600 hover:text-gray-700 dark:text-gray-400 transition duration-150 ease-in-out"
							href={getHomePermalink('mission')}>Our Mission</a
						>
					</li>
					<li class="mb-2">
						<a
							class="text-gray-600 hover:text-gray-700 dark:text-gray-400 transition duration-150 ease-in-out"
							href={getHomePermalink('milestones')}>Our Milestones</a
						>
					</li>
					<li class="mb-2">
						<a
							class="text-gray-600 hover:text-gray-700 dark:text-gray-400 transition duration-150 ease-in-out"
							href={getHomePermalink('team')}>Our Team</a
						>
					</li>
					<li class="mb-2">
						<a
							class="text-gray-600 hover:text-gray-700 dark:text-gray-400 transition duration-150 ease-in-out"
							href={getHomePermalink('news')}>News</a
						>
					</li>
					<li class="mb-2">
						{
							!BLOG.disabled && !BLOG.blog.disabled && (
								<a
									class="text-gray-600 hover:text-gray-700 dark:text-gray-400 transition duration-150 ease-in-out"
									href={getBlogPermalink()}
								>
									Blog
								</a>
							)
						}
					</li>
				</ul>
			</div>
		</div>
		<div class="md:flex md:items-center md:justify-between py-6 md:py-8">
			<ul class="flex mb-4 md:order-1 -ml-2 md:ml-4 md:mb-0">
				<li>
					<a
						class="text-gray-500 dark:text-gray-400 hover:bg-gray-100 dark:hover:bg-gray-700 focus:outline-none focus:ring-4 focus:ring-gray-200 dark:focus:ring-gray-700 rounded-lg text-sm p-2.5 inline-flex items-center"
						aria-label="RSS"
						href="/rss.xml"
					>
						<Icon name="tabler:rss" class="w-5 h-5" />
					</a>
				</li>
				<li>
					<a
						class="text-gray-500 dark:text-gray-400 hover:bg-gray-100 dark:hover:bg-gray-700 focus:outline-none focus:ring-4 focus:ring-gray-200 dark:focus:ring-gray-700 rounded-lg text-sm p-2.5 inline-flex items-center"
						aria-label="Github"
						href="https://github.com/DiplomprojektNeurologie/"
					>
						<Icon name="tabler:brand-github" class="w-5 h-5" />
					</a>
				</li>
			</ul>
			<div class="text-sm text-gray-700 mr-4 dark:text-slate-400">
				Get the <a
					class="text-blue-600 hover:underline dark:text-gray-200"
					href="https://github.com/onwidget/astrowind"
					target="_blank"><Icon name="tabler:external-link" class="inline w-5 h-5 mr-1 ml-0.5" />Astrowind template</a
				>
			</div>
		</div>
	</div>
</footer>
